<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Cheese Head</title>

        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    </head>

    <body>

        <div id="root"></div>

    <script type="text/babel"> 
    
        class CheeseApp extends React.Component{
            constructor(props){
                super(props); 
                this.state = {
                    items: {{{cheeses}}},
                    filter: "",
                    curItem: {}
                };
                this.onSearchChange = this.onSearchChange.bind(this);
                this.onChange = this.onChange.bind(this);
                this.onSave = this.onSave.bind(this);
                this.onDelete = this.onDelete.bind(this);
                this.onClear = this.onClear.bind(this);
                this.showDetails = this.showDetails.bind(this);
            }

            onSearchChange(event) {
            this.setState({filter: event.target.value.toLowerCase() });
            }
    
            showDetails(event){
                let editItem = this.state.items.find((item) => {
                    return item._id == event.target.id;
                });
                this.setState({curItem: editItem});
            }
    
            onClear(){
                this.setState({curItem: {}});
            }

            onChange(event) {
                var newItem = this.state.curItem;
                newItem[event.target.name] = event.target.value
                this.setState({curItem: newItem});
            }

            onSave() {
                let newItem = this.state.curItem;
                if (!newItem.cheeseName) {
                    return;
                }

                fetch("/api/v1/add/", {
                    method: "POST",
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(newItem)
                }).then(res => res.json())
                    .then((json) => {

                    let newData;
                    if (!newItem._id) {
                        newData = this.state.items;
                        newItem._id = json._id;
                        newData.push(newItem);
                    } else { 
                        newData = this.state.items.map((item) => {
                            if (item._id === newItem._id) {
                                item = newItem; 
                            }
                            return item;
                        });          
                    }
  
                    this.setState({items: newData});
                });
            }

            onDelete(){
                let id = this.state.curItem._id;
        
                fetch("/api/v1/delete/" + id).then((response) => {
                    return response.json();
                }).then((results) => {
                    const remainder = this.state.items.filter((item) => {
                        return item._id !== id;
                     });
                    this.setState({items: remainder, curItem: {}});
                });
            }
            
            render() {
                return (
                    <div>
                    <Title title="Cheese Store" />
                    <SearchForm filter={this.state.filter} change={this.onSearchChange} />
                    <div className="flex-container">
                        <ItemList
                            items={this.state.items} 
                            filter={this.state.filter}
                            show={this.showDetails.bind(this)} />
                        <ItemDetails 
                            item={this.state.curItem} 
                            change={this.onChange} 
                            save={this.onSave} 
                            reset={this.onClear} 
                            delete={this.onDelete} />
                        </div>
                    </div>
                    );
            }
        }

        const Title = ({cheeseName}) => {
            return (
                <div><h2>{cheeseName}</h2></div>
            );
        }

        const SearchForm = (props) => {
            return (
                <div>
                    <input
                    type="text" placeholder="Enter a search term"
                    value={props.filter}
                    onChange={props.change}
                    /><p/>
                </div>
            );
        }
        
        const ItemList = ({items, filter, show}) => {
            const itemNodes = items.map((item) => {
                if (!filter || item.cheeseName.toLowerCase().includes(filter)) { 
                    return <li id={item._id} key={item._id} onClick={show}>{item.cheeseName}</li>
                }
            });
            return <span id="item-list"><ul>{itemNodes}</ul></span>;
        }

        const ItemDetails = (props) => {
            return (
                <span id="item-details">
                    <h3>Details:</h3>
                    <form>
                        <input type="text" name="Cheese" onChange={props.change} placeholder="Cheese" value={props.item.cheeseName || ""} /><p/>
                        <input type="text" name="Pack Size in Ounces" onChange={props.change} placeholder="Pack Size in Ounces" value={props.item.cheeseOzPackSize || ""} /><p/>
                        <input type="text" name="Brand" onChange={props.change} placeholder="Brand" value={props.item.cheeseBrand} /><p/>
                        <input type="text" name="Price per Ounce" onChange={props.change} placeholder="Price per Ounce" value={props.item.cheesePricePerOz || ""} /><p/>
                        <p/>
                    </form>
                    <button onClick={props.save}>Save</button>  <button onClick={props.reset}>Reset</button> <button onClick={props.delete}>Delete</button>
                </span>
            );
        }

        ReactDOM.render(<CheeseApp />, document.getElementById('root'));

    // convert date value to yyyy-mm-dd expected by HTML5 date field
    function getISOstring(dateString) {
        let date = (dateString) ? new Date(dateString) : new Date();
        let month = (date.getMonth() >=9) ? date.getMonth()+1 : "0" + (date.getMonth()+1);
        let day = (date.getDate() >=10) ? date.getDate() : "0" + date.getDate();
        return date.getFullYear() + "-" + month + "-" + day;    
    }
        
        // const ItemDetail = (props) => {
        //     return (
        //         <div>
        //             Cheese: {props.item.cheeseName}<br/>
        //             Pack Size in Ounces: {props.item.cheeseOzPackSize}<br/>
        //             Brand: {props.item.cheeseBrand}<br/>
        //             Price per Ounce: {props.item.cheesePricePerOz}<br/>
        //         </div>
        //     );
        // }

        // <h3>Cheese Look-Up</h3>
        // <form action="/detail" method="post">
        //     <legend>Enter Desired Cheese Name:</legend>
        //         <input type=text name="cheeseName">
        //     <button>Submit</button>
        // </form>

        // <br>

        // <h3>Add-a-Cheese</h3>
        // <form action="/api/added/" method="post">
        //     <legend>Cheese Name:</legend>
        //         <input type=text name="cheeseName">
        //     <legend>Pack Size in Ounces:</legend>
        //         <input type=int name="cheeseOzPackSize">
        //     <legend>Brand:</legend>
        //         <input type=text name="cheeseBrand">
        //     <legend>Price per Ounce:</legend>
        //         <input type=int name="cheesePricePerOz  ">
        //     <button>submit</button>
        // </form>
         

    </script>
    </body>
</html>