<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

        <!-- <style type="text/css">
            .flex-container {
                display: -webkit-flex;
                display: flex;
                width: 600px;
                background-color: lightgrey;
            }
        
            #item-list {
                background-color: cornflowerblue;
                width: 30%;
                padding: 0px 10px 0px 0px;
            }
        
            #item-details {
                background-color: yellow;
                width: 75%;
                padding: 10px;
            }
        </style> -->
    </head>
    <body>
        <h2>Cheese Head homepage</h2>

        <div id="root">

        <span>
            Cheese name: <br/>
            Pack size in ounces: <br/>
            Brand: <br/>
            Price per ounce: <br/>
        </span>
        
    <script type="text/babel">        
        const List = (props) => {
            let items_list = props.items.map((item) => {
                return <li onClick={props.clickHandler} key={item.cheeseName} id={item.cheeseName}>{item.cheeseName}</li>
            });
            return (
                <div>
                    Cheese List
                    <ul>
                    {items_list}
                    </ul>
                </div>
            );
        }

        const Detail = (props) => {
            return (
                <div>
                    <form>
                        Cheese name: <input onChange={props.change} name="cheeseName" value={props.item.cheeseName  || ""}/><br/>
                        Pack size: <input onChange={props.change} name="cheeseOzPackSize" value={props.item.cheeseOzPackSize  || ""}/><br/>
                        Brand: <input onChange={props.change} name="cheeseBrand" value={props.item.cheeseBrand  || ""}/><br/>
                        Price: <input onChange={props.change} name="cheesePricePerOz" value={props.item.cheesePricePerOz  || ""}/><br/>
                    </form>
                    <button onClick={props.save}>Save</button>  
                    <button onClick={props.reset}>Reset</button> 
                    <button onClick={props.delete}>Delete</button>
       
                </div>
            )
        }

        class App extends React.Component {
            constructor(props) {
                super(props);
                this.state = {
                    items: {{{cheeses}}},
                    curItem: {}
                };
                
                this.showDetail = this.showDetail.bind(this);
                this.changeHandler = this.changeHandler.bind(this);
                this.onClear = this.onClear.bind(this);
                this.saveHandler = this.saveHandler.bind(this);
                this.deleteHandler = this.deleteHandler.bind(this);
            }
            
            showDetail(event){
                console.log(event.target)
                let editItem = this.state.items.find((item) => {
                    return item.cheeseName == event.target.id;
                });
                this.setState({curItem: editItem});
            }

            changeHandler(event) {
                var newItem = this.state.curItem;
                newItem[event.target.name] = event.target.value
                this.setState({curItem: newItem});
            }

            onClear() {
                console.log('clear')
                this.setState({curItem: {}});
            }

            saveHandler() {
                console.log('save')
                let newItem = this.state.curItem;
                fetch("/api/added/", {
                    method: "POST",
        	        headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(newItem)
                })  .then(res => res.json())
        	        .then((json) => { 
                        console.log(json)
                    let newData;
                    if (!newItem.cheeseName) {
                        newItem.cheeseName = json.cheeseName;
                        newData.push(newItem);
                    }
                    this.setState({items: newData});
                });          
            }

            deleteHandler(){
                let id = this.state.curItem.cheeseName;
        
                fetch("/api/delete/" + cheeseName).then((response) => {
                return response.json();
                }).then((results) => {
                    const remainder = this.state.items.filter((item) => {
                    return item.cheeseName !== cheeseName;
                    });
                    this.setState({items: remainder, curItem: {}});
                });
            }

                render() {
                    return (
                        <div>
                            <List 
                                items={this.state.items} 
                                clickHandler={this.showDetail}/>
                            <Detail 
                                change={this.changeHandler} 
                                reset={this.onClear} 
                                save={this.saveHandler} 
                                delete={this.deleteHandler} 
                                item={this.state.curItem}/>
                        </div>
                    );
                }
        }
        
        ReactDOM.render( <App/>, document.getElementById('root') );
        
    </script>
    </body>
</html>